@mixin border-radius($radius)
{
  -webkit-border-radius: $radius;
  -moz-border-radius:    $radius;
  -ms-border-radius:     $radius;
  border-radius:         $radius;
}

@mixin size($height: 100%, $width: 100%)
{
  height: $height;
  width:  $width;
}